# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
build/.cmake/api/v1/reply/cmakeFiles-v1-357b4873e5910113b2ab.json
build/.cmake/api/v1/reply/index-2025-06-25T10-11-46-0364.json
